extends layout

block content
    #container
        include ./partials/header

        section
            .wrapper
                h1 Create Account
                form(method='post', action='/register')
                    .control._required
                        label Name
                        input.control-text(type='text', name='username', required='required')
                    .control._required
                        label Password
                        input.control-text(type='password', name='password',required='required')
                    button.btn-primary(type='submit') Register

        include ./partials/footer