extends layout

block content
    #container
        include ./partials/header

        section
            .wrapper
                h1 #{user.username}
                if user.lastname
                    p #{user.lastname}

        include ./partials/footer
