<div ng-if="!$ctrl.editing">
    <h1>Add Article</h1>
</div>
<div ng-if="$ctrl.editing">
    <h1>Edit Article</h1>
</div>
<form name="form" novalidate id="addArticle">
    <div class="control">
        <label>Title</label>
        <input
                class="control-text"
                type="text"
                name="artTitle"
                required="required"
                ng-model="article.title"
        />
        <div style="color:red" ng-show="form.artTitle.$dirty && form.artTitle.$invalid">
            <div ng-show="form.artTitle.$error.required">This field is required.</div>
        </div>
    </div>
    <div class="control">
        <label>Source</label>
        <input
                class="control-text"
                type="text"
                ng-model="article.source"
        />
    </div>
    <div class="control">
        <label>Text</label>
        <input
                class="control-text"
                type="text"
                required="required"
                name="artContent"
                ng-model="article.description"
                content-validation
        />
        <div style="color:red" ng-show="form.artContent.$dirty && form.artContent.$invalid">
            <div ng-show="form.artContent.$error.required">This field is required.</div>
            <div ng-show="form.artContent.$error.contentValidation">This fiels should contain > 20 symbols</div>
        </div>
    </div>
    <button
            type="submit"
            class="btn-primary"
            ng-click="$ctrl.saveArticle(article, form)"
            ng-disabled="form.$invalid"
    >Save article</button>
</form>